*{
    margin: 0;
    padding: 0;
}
#comment_box{
    width: 800px;
    margin: 0 auto;
}
#comment_box table{
    border-collapse:collapse;
    border-spacing: 0;
    width: 800px;
}
#comment_box tr{
    
    min-height: 130px;
}
#comment_box td{
    
    border-bottom: 1px solid #e3e3e3;;
}
#comment_box .comment_detail{
    padding: 16px 30px 16px 7px;
}
#comment_box .c-date{
    font-size: 10px;
    color: cadetblue;
}
#comment_box .goods_detail{
    width: 150px;
}
#comment_box .user_ame{
    width: 110px;
}